@media (max-width: 690px) {
  .mpy2 {
    .click {
      display: none;
    }
  }
  .bars {
    display: block;
  }
}
@media (max-width: 477px) {
  .mpy1 {
    display: none;
  }
}
@media (max-width: 230px) {
  .sec1 {
    .container {
      h1 {
        font-size: 30px;
      }
    }
  }
}
@media (max-width: 375px) {
  .head-info2 {
    margin-left: 3px;
    .elden2{
      font-size: 30px;
    }
  }
}
@media (max-width: 375px) {
  .head-info {
    margin-left: 13px;
  }
}
@media (max-width: 210px) {
  .div-round {
    display: none;
  }
}
@media (max-width: 298px) {
  .head-info {
    .elden {
      font-size: 35px;
    }
    p {
      font-size: 20px;
    }
  }
}

@media (max-width: 109px) {
  .head-info {
    p {
      font-size: 5px;
    }
    .elden2 {
      font-size: 20px;
    }
    .elden {
      font-size: 20px;
    }
    button {
      font-size: 5px;
    }
  }
}
@media (max-width: 347px) {
  .img-elden {
    width: 200px;
  }
  .img-silent {
    width: 200px;
    max-height: 112px;
  }
  .Gow {
    width: 200px;
    max-height: 112px;
  }
  .re4 {
    width: 200px;
    max-height: 122px;
  }
}
@media (max-width: 239px) {
  .sec2 {
    .container2 {
      .infodivi {
        p {
          font-size: 15px;
        }
        .godii {
          font-size: 30px;
        }
      }
    }
  }
}
@media (max-width: 294px) {
  .sec2 {
    .container2 {
      .infodivi {
        p {
          font-size: 15px;
        }
        .godii {
          font-size: 30px;
        }
      }
    }
  }
}
@media (max-width: 293px) {
  .sec2 {
    .container2 {
      .infodivi {
        .div-round2 {
          margin-top: 110px;
        }
        p {
          font-size: 10px;
        }
        .godii {
          font-size: 15px;
        }
      }
    }
  }
}

@media (max-width: 366px) {
  .sec2 {
    .container2 {
      .infodivi {
        p {
          font-size: 20px;
        }
        .godii {
          font-size: 40px;
        }
      }
    }
  }
}
@media (max-width: 203px) {
  .sec2 {
    .container2 {
      .infodivi {
        .div-colorful {
          display: none;
        }
        .div-round2 {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 327px) {
  .sec2 {
    .container2 {
      .infodivi {
        margin-left: 1px;
        .p2 {
          margin-top: 90px;
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .sec2 {
    .container2 {
      .infodivi {
        .godii {
          margin-top: 99px;
        }
        margin-left: 1px;
        .p2 {
          margin-top: 20px;
        }
      }
    }
  }
}
@media (max-width: 677px) {
  .foot {
    .containera {
      .EXPLORATE {
        display: none;
      }
    }
  }
}
@media (max-width: 513px) {
  .foot {
    .containera {
      .connection {
        margin-left: 100px;
      }
    }
  }
}
@media (max-width: 332px) {
  .foot {
    .containera {
      .kontaqti {
        margin-left: 10px;
      }
      .Headquarter {
        margin-left: 10px;
      }
      .connection {
        margin-left: 10px;
      }
    }
  }
}
@media (max-width: 318) {
  .head-info2{
    margin-left: 1px;
  }
}