@media (max-width: 690px) {
  .mpy2 {
    .click {
      display: none;
    }
  }
  .bars {
    display: block;
  }
}
@media (max-width: 477px) {
  .mpy1 {
    display: none;
  }
}
@media (max-width: 332px) {
  .head-info {
    margin-left: 1px;
  }
  .div-round {
    display: none;
  }
}
@media (max-width: 231px) {
  .head-info {
    .elden {
      font-size: 30px;
    }
    p {
      font-size: 15px;
    }
  }
}
@media (max-width: 109px) {
  .head-info {
    p {
      display: none;
    }
    .elden {
      font-size: 20px;
    }
    button {
      font-size: 5px;
    }
  }
}
@media (max-width: 347px) {
  .img-elden {
    width: 200px;
  }
  .img-silent {
    width: 200px;
    height: 100px;
  }
  .Gow {
  width: 200px;
  height: 100px;
  }
}
