@mixin chemimixini {
  max-width: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.24);
  height: 80px;
}

@mixin containeri {
  max-width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border: 1px solid red;
}

@mixin containeri2 {
  max-width: 95%;
  margin: 0 auto;
}
