@mixin container {
    max-width: 1750px;
    width: 95%;
    margin: 0 auto;
}

@mixin divflex {
    max-width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.575);
    justify-content: space-between;
    align-items: center;
    // border: 1px solid red;
}
