.head {
  @include chemimixini;
  position: fixed;
  top: 0px; /* Distance from the top of the viewport */
  left: 0px; /* Distance from the left of the viewport */
}
.container {
  @include containeri;
}
.mpy1 {
  color: #f8f9fa;
  font-family: Spartan;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  //   margin-left: 130px;
  font-size: 30px;
}
.mpy2 {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.img1 {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
*a {
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 20px;
}
.xazi {
  width: 2px;
  height: 22px;
  background: #e5e5e5;
}
.image {
  width: 70px;
  height: 70px;
}
.divi {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.mpy2 {
  li {
    cursor: pointer;
  }
  .mam {
    :hover {
      text-decoration: underline;
    }
  }
}
.mps{
  display: none;
}

