/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.head {
  max-width: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.24);
  height: 80px;
  position: fixed;
  top: 0px; /* Distance from the top of the viewport */
  left: 0px; /* Distance from the left of the viewport */
}

.container {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mpy1 {
  color: #f8f9fa;
  font-family: Spartan;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 30px;
}

.mpy2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img1 {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

* a {
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 20px;
}

.xazi {
  width: 2px;
  height: 22px;
  background: #e5e5e5;
}

.image {
  width: 70px;
  height: 70px;
}

.divi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.mpy2 li {
  cursor: poiter;
}
.mpy2 .mam :hover {
  text-decoration: underline;
}

.bars {
  display: none;
}

.head {
  background-image: url(/images/eldenring.jpg);
  background-repeat: no-repeat;
  max-width: 100%;
  height: 590px;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.sec1 .container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  row-gap: 30px;
  max-width: 95%;
  height: 590px;
  margin: 0 auto;
}
.sec1 .container1 .divi2 {
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sec1 .container1 .divi2 h3 {
  color: #fff;
  text-align: right;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.eldeni {
  font-weight: 300;
  font-style: normal;
  font-size: 60px;
  color: rgb(255, 218, 7);
  margin-left: 130px;
}

.divi3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.divi3 h5 {
  color: #e5e5e5;
  font-family: Lora;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.divi3 p {
  color: #e5e5e5;
  font-family: Lora;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  width: 420px;
}

.xazi2 {
  width: 30px;
  height: 1px;
  background: #e5e5e5;
}

.divi4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  margin-left: 125px;
  margin-top: 20px;
  margin-bottom: 200px;
}
.divi4 .mpy5 {
  width: 8px;
  height: 8px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: white;
  border-radius: 50%;
}
.divi4 div {
  width: 8px;
  height: 8px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.671);
  border-radius: 50%;
}

.containeri2 {
  max-width: 95%;
  margin: 0 auto;
}

@media (max-width: 690px) {
  .mpy2 .mam {
    display: none;
  }
  .bars {
    display: block;
  }
}
@media (max-width: 477px) {
  .mpy1 {
    display: none;
  }
}
@media (max-width: 540px) {
  .divi3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    row-gap: 8px;
  }
  .container {
    row-gap: 8px;
  }
  .eldeni {
    margin-left: 20px;
  }
  .divi2 h3 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .divi4 {
    margin-left: 40px;
  }
}
@media (max-width: 394px) {
  .divi3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    row-gap: 8px;
  }
  .divi3 h5 {
    margin-left: 10px;
  }
  .divi3 p {
    width: 340px;
  }
  .divi3 img {
    display: none;
  }
  .container {
    row-gap: 8px;
  }
  .eldeni {
    margin-left: 20px;
    font-size: 40px;
  }
  .divi2 {
    margin-top: 70px;
  }
  .divi2 h3 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .divi4 {
    margin-left: 40px;
  }
}
@media (max-width: 397px) {
  .eldeni {
    margin-left: 20px;
    font-size: 40px;
  }
}
@media (max-width: 280px) {
  .eldeni {
    font-size: 30px;
  }
  .divi2 h3 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    font-size: 25px;
  }
}/*# sourceMappingURL=global.css.map */